//
  * error.jade
  * This file displays errors 
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
