.container
    hr
        
    footer
        //Page Footer
        .row
            .col-lg-12
                p To-Do List Application

//Javascript libaries
script(type='text/javascript', src='/javascripts/validation.js')
//Geo-Auto Suggestion Script
script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDbDbO6yO_piOMux3bXl3-A62OwsjctAIc')
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', src='/javascripts/geo.js')
script(type='text/javascript', src='/javascripts/geo_script.js')
script(type='text/javascript', src='/javascripts/jquery_ajax.js')
