//
  * index.jade
  * This file conatins the the homepage of this project
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
extends layout

block content
    
  
    .container
      // Jumbotron Header
      header.jumbotron.hero-spacer
        h3 A Warm Welcome!
        |             
        p
          | Give your list, We will remember it.
        |             
        p
          a.btn.btn-primary.btn-large(href='Create_Account') SIGN UP
          //|&nbsp
          //a.btn.btn-primary.btn-large(href='signin') SIGN IN
          
      |         
      hr
      // Title
      .row
        .col-lg-12
          h3 How IT WORKS
      // /.row
      // Page Features
      .row.text-center
        .col-md-3.col-sm-6.hero-feature
          
            img(src='images/note.png', alt='')
            |                     
            .caption                       
              p Add notes or things you want to remember

        |             
        .col-md-3.col-sm-6.hero-feature
          
            img(src='images/calendar.png', alt='')
            |                     
            .caption                        
              p Set time and date to create a reminder

        |             
        .col-md-3.col-sm-6.hero-feature
            img(src='images/map.png', alt='')
            |                     
            .caption
              p Set the location for a particular task

        |             
        .col-md-3.col-sm-6.hero-feature
            img(src='images/sms.png', alt='')
            |                     
            .caption
              h6 Upcoming feature
              p Get notification via SMS just because your task is important
  