//
  * index.jade
  * This file conatins the the homepage of this project
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
extends layout

block content
    
  
    .container
      // Jumbotron Header
      header.jumbotron.hero-spacer
        h1 A Warm Welcome!
        |             
        p
          | Give your list, We will remember it.
        |             
        p
          a.btn.btn-primary.btn-large(href='newuser') SIGN UP
      |         
      hr
      // Title
      .row
        .col-lg-12
          h3 Latest Features
      // /.row
      // Page Features
      .row.text-center
        .col-md-3.col-sm-6.hero-feature
          .thumbnail
            img(src='http://smallbiztrends.com/wp-content/uploads/2015/12/todo-list-850x476.jpg', alt='')
            |                     
            .caption
              h3 Feature Label
              |                         
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              |                         
              p
                a.btn.btn-primary(href='#') Buy Now!
                |  
                a.btn.btn-default(href='#') More Info
        |             
        .col-md-3.col-sm-6.hero-feature
          .thumbnail
            img(src='http://cdn.macrumors.com/article-new/2015/02/Todoist-Apple-Watch.png', alt='')
            |                     
            .caption
              h3 Feature Label
              |                         
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              |                         
              p
                a.btn.btn-primary(href='#') Buy Now!
                |  
                a.btn.btn-default(href='#') More Info
        |             
        .col-md-3.col-sm-6.hero-feature
          .thumbnail
            img(src='http://smallbiztrends.com/wp-content/uploads/2015/12/todo-list-850x476.jpg', alt='')
            |                     
            .caption
              h3 Feature Label
              |                         
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              |                         
              p
                a.btn.btn-primary(href='#') Buy Now!
                |  
                a.btn.btn-default(href='#') More Info
        |             
        .col-md-3.col-sm-6.hero-feature
          .thumbnail
            img(src='http://cdn.macrumors.com/article-new/2015/02/Todoist-Apple-Watch.png', alt='')
            |                     
            .caption
              h3 Feature Label
              |                         
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              |                         
              p
                a.btn.btn-primary(href='#') Buy Now!
                |  
                a.btn.btn-default(href='#') More Info

  