doctype html
html
  head
    title= title
   
    // CSS stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/heroic-features.css')
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/validation.js')

  body
     include header
     .container
      .row
        .col-xs-12
          //Page title
          h1= title     
          
     block content
     include footer                    