extends layout

block content
    
    .container
    
      .row
        .panel-body
            .row
            .col-lg-6

                    form#form_add_todo_item(name='add_todo_item', method='post', action='/add_list')                                                            
                        .form-group
                          // User ID primary key                                             
                          input.form-control(type='hidden', name='id', id='id', value='#{id}', placeholder='Enter things you want to do')
                          br
                          //Title
                          label Title                                                                     
                          input.form-control(type='text', placeholder='Buy - Noodles, Toothbrush, Socks', name='title', id='title', required)

                          br
                          //Date                                             
                          label Date
                          input.form-control(type='date' placeholder='Select Date/Time', name='date', id='date' required)
                                                                                                          
                          br
                          //Location
                          label Location                                                                     
                          input.form-control(type='text', placeholder='e.g. 11 Doon Creek Street, Kitchener, ON', id='location' name='location', required)
                          
                          br
                          // Notes
                          label Notes                                                                     
                          textarea.form-control(type='text', placeholder='Aditional Notes', name='notes', id='notes')
                          
                          br                      
                          button.btn.btn-default(type='submit') Add
                                                
                          
                          //feedback label
                          label#feedback Saved
                          
            .col-lg-6
                  .panel.panel-default
                   .panel-heading To-Do List

                   .panel-body
                    .list-group#todo_list
                       a.list-group-item(href='#')
                        i.fa.fa-comment.fa-fw
                        |  New Comment
                        |                                     
                        span.pull-right.text-muted.small
                            em 4 minutes ago
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-twitter.fa-fw
                        |  3 New Followers
                        |                                     
                        span.pull-right.text-muted.small
                            em 12 minutes ago
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-envelope.fa-fw
                        |  Message Sent
                        |                                     
                        span.pull-right.text-muted.small
                            em 27 minutes ago
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-tasks.fa-fw
                        |  New Task
                        |                                     
                        span.pull-right.text-muted.small
                            em 43 minutes ago
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-upload.fa-fw
                        |  Server Rebooted
                        |                                     
                        span.pull-right.text-muted.small
                            em 11:32 AM
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-bolt.fa-fw
                        |  Server Crashed!
                        |                                     
                        span.pull-right.text-muted.small
                            em 11:13 AM
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-warning.fa-fw
                        |  Server Not Responding
                        |                                     
                        span.pull-right.text-muted.small
                            em 10:57 AM
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-shopping-cart.fa-fw
                        |  New Order Placed
                        |                                     
                        span.pull-right.text-muted.small
                            em 9:49 AM
                        |                                 
                       a.list-group-item(href='#')
                        i.fa.fa-money.fa-fw
                        |  Payment Received
                        |                                     
                        span.pull-right.text-muted.small
                            em Yesterday      