extends layout

block content
  .container
    hr
    .row
       .panel.panel-default
            .panel-heading
              h3.panel-title Dhruv Patel
            |             
            .panel-body
              .row
                .col-md-3.col-lg-3(align='center')
                  img.img-circle.img-responsive(alt='User Pic', src='http://www.picz.ge/img/s2/1503/13/7/7106ab539f78.gif')
               
                .col-md-9.col-lg-9
                    hr
                    P TASK:
                    hr
                    P DATE/TIME:
                    hr
                    P LOCATION:
                    hr
