//
  * signup.jade
  * This file conatins tag elements to add a new user into the database
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
extends layout_default

block content
    
    .container
      //Page title
      h2= title        
      
      hr
      .row
        .col-lg-6
          img(src='images/bg2.png', alt='')

        .col-lg-6
           .login-panel.panel.panel-default
             .panel-heading
               h3.panel-title Create an account
              .panel-body
                    .row                      
                    .col-lg-6
                    form#form_add_user(name='adduser', method='post', action='/adduser')
                        //New user form                                      
                        .form-group
                        label E-mail
                        |   
                        // Email tag                                          
                        input.form-control(type='email', placeholder='someone@someone.com', name='email' required)
                        br
                        label First Name
                        |   
                        // First tag                                          
                        input.form-control(type='text', placeholder='Enter Your First Name', name='first_name' required)
                        br
                        // Last Name                                          
                        label Last Name
                        |                                             
                        input.form-control(type='text', placeholder='Enter Your Last Name', name='last_name' required)
                        |                                                        
                        // Password                                         
                        //|
                        label Password
                        |                                             
                        input.form-control(type='text', placeholder='Enter Password', name='password' required)
                        |                                    
                        br
                        label Re-type Password
                        |                                             
                        input.form-control(type='text', placeholder='Enter Password again' required)
                        |                                              
                        br
                        button.btn-lg.btn-warning.btn-block(type='submit') JOIN                      
                        //End of form
