//
  * users_list.jade
  * This file conatins tag elements to display users in the database of this project
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
extends layout

block content
    h3.
        Users
    ul
        each user, i in userslist
            li#users_list_item
                a(href='#') #{user.first_name} #{user.Last_name} 
                    