/*
  * style.css
  * This file conatins tag elements to add a new todo item for this project
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
*/

body {
    padding-top: 70px; 
    overflow:hidden; 
    overflow-y:scroll;
}

#feedback{
    color: #F35353;
    font-weight: bold;  
    padding-left: 25px;
    display: none;  
}

.hero-spacer {
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

col-lg-12 .h3 { 
    
    font-family: 'Raleway', sans-serif;
}

h3.panel-title {
    font-family: 'Raleway', sans-serif;
    
}