body {
    padding-top: 70px; 
    overflow:hidden; 
    overflow-y:scroll;
}

.hero-spacer {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
