body {
    padding-top: 70px; 
    overflow:hidden; 
    overflow-y:scroll;
}

#feedback{
    color: #F35353;
    font-weight: bold;  
    padding-left: 25px;
    display: none;  
}

.hero-spacer {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
